@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-be-vn: "Be Vietnam Pro", sans-serif;
  --animate-slide-right: slide-right 1s ease-in-out forwards;
  --animate-slide-left: slide-left 1s ease-in-out forwards;
  --animate-move: move 1s ease-in-out forwards;
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes move {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px) scale(0.95);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

@layer utilities {
  .clip-path-triangle-left {
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }
  .clip-path-triangle-right {
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
  }
  .animate-fade-in-up {
    animation: fadeInUp 0.4s ease-out forwards;
  }
}

body {
  font-family: var(--font-be-vn);
}
